fastapi==0.109.0
uvicorn[standard]==0.27.0 #server used to run the fast api application
sqlalchemy==2.0.25
psycopg[binary]==3.2.4
alembic==1.13.1
pyotp==2.9.0
qrcode[pil]==7.4.2
pyjwt==2.8.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6
pydantic[email]==2.10.6
pydantic-settings==2.7.1
python-dotenv==1.0.0
cryptography==42.0.0
slowapi==0.1.9